.btn-medium {
	border-radius: 50px;
	color: #808080;
	border: 1px solid #808080;
	padding: 10px 15px;
	opacity: 0.6;
}

.btn-medium:hover {
	opacity: 1;
	text-decoration: none;
	color: #808080;
}

.btn-twitter {
	border-radius: 3px;
	color: white;
	background-color: #D4312D;
	padding: 10px 15px;
	font-weight: bolder;
	opacity: 0.9;
}

.btn-twitter:hover {
	opacity: 1;
	text-decoration: none;
	color: white;
}
